<h3>Here are the movies for $person.getName() :</h3>
<div class="jumbotron">
  <ul>
    #foreach($movie in $personMovies)
    <form  action="/movie/$movie.getId()/delete-movie-success" method="post">
      <li>$movie.getTitle()</li>
      <button class="btn btn-danger" type="submit" name="button">Delete</button>
    </form>
    #end
  </ul>

  <a href="/">Back to Homepage</a>
</div>
