<h3>Here are the movies for $person.getName() :</h3>
<div class="jumbotron">
  <ul>
    #foreach($movie in $personMovies)
      <li>$movie.getTitle()</li>
    #end
  </ul>

  <a href="/">Back to Homepage</a>
</div>
